---

## scripts role ##

- name: Ensure directory structure exists
  file:
    path: '~{{ user_name }}/{{ item.path }}'
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    state: directory
    # recurse: yes
    mode: u=rwx,g=rx,o=rx
  with_filetree: '{{ templates_source }}/scripts'
  when:
    - item.state == 'directory'
    - item.path != '.git'

- name: Ensure files are populated from templates
  copy:
    src: '{{ item.src }}'
    dest: '~{{ user_name }}/{{ item.path }}'
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: u=rwx,g=rx,o=r
  with_filetree: '{{ templates_source }}/scripts'
  when:
    - item.state == 'file'
    - item.path != '.git'
