{{- $hostname := .chezmoi.hostname -}}
{{- $isArch := eq .chezmoi.osRelease.id "arch" -}}
{{- $isUbuntu := or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") -}}
{{- $hasSystemd := or (eq $hostname "fenix") (eq $hostname "wooly") (eq $hostname "enix") -}}
{{- $isCan := eq $hostname "can" -}}

{{- /* Git config - different for can */ -}}
{{- $gitEmail := "johnramsden@riseup.net" -}}
{{- $gitSigningKey := "~/.ssh/id_ed25519.pub" -}}
{{- $gitSshKey := "id_ed25519" -}}
{{- if $isCan -}}
{{-   $gitEmail = "john.ramsden@canonical.com" -}}
{{-   $gitSigningKey = "~/.ssh/id_rsa.pub" -}}
{{-   $gitSshKey = "id_rsa" -}}
{{- end -}}

[data]
    hostname = {{ $hostname | quote }}
    isArch = {{ $isArch }}
    isUbuntu = {{ $isUbuntu }}
    hasSystemd = {{ $hasSystemd }}
    isCan = {{ $isCan }}

    [data.git]
        name = "John Ramsden"
        email = {{ $gitEmail | quote }}
        signingKey = {{ $gitSigningKey | quote }}
        hooksPath = ".config/git/hooks"
        gitSshKey = {{ $gitSshKey | quote }}

[edit]
    command = "nano"

[git]
    autoCommit = false
    autoPush = false
