---

- name: Setup local configuration
  hosts: local

  tasks:
    - name: Include host-specific vault
      include_vars: "local/{{ ansible_facts['nodename'] }}/vault.yml"

    - name: Include host-specific variables
      include_vars: "local/{{ ansible_facts['nodename'] }}/local.yml"

    - name: Run git role
      include_role:
        name: git
      when: roles_enabled.git is defined and roles_enabled.git

    - name: Run zsh role
      include_role:
        name: zsh
      when: roles_enabled.zsh is defined and roles_enabled.zsh

    - name: Run ssh role
      include_role:
        name: ssh
      when: roles_enabled.ssh is defined and roles_enabled.ssh

    - name: Run services role
      include_role:
        name: services
      when: roles_enabled.services is defined and roles_enabled.services

    - name: Run scripts role
      include_role:
        name: scripts
      when: roles_enabled.scripts is defined and roles_enabled.scripts

    - name: Run gnupg role
      include_role:
        name: gnupg
      when: roles_enabled.gnupg is defined and roles_enabled.gnupg

    - name: Run conky role
      include_role:
        name: conky
      when: roles_enabled.conky is defined and roles_enabled.conky
